- title "Sign up"

%p Already have an account? #{link_to "Log in", login_path}.

- if @user.errors.any?
  %ul.errors
    - @user.errors.full_messages.each do |msg|
      %li.error_message= msg

- form_for @user do |f|
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :email_address, "Email Address"
    %br
    = f.text_field :email_address
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit "Sign up"
