%li.post
  = gravatar_image_tag post.user.email_address, {:size => 32} 
  %p
    %strong= "#{post.user.username}"
    = post_body post

  - if post.scored?
    %p#score
      = "Score: #{post.score}"

  - if logged_in?

    %div.promote
      - if current_user.promoted?(post)
        = "You promoted this post"
      - else
        = "#{link_to "Promote", promote_post_path(post), :method => :put} this case."

    - if post.user == current_user
      %p.tasks= "Mark as #{link_to "Completed"} or #{link_to "Declined"}."
