%li.post
  %p= post_body post

  - if post.scored?
    %p#score
      = "Score: #{post.score}"

  - if logged_in?
    - if current_user.promoted?(post)
      = "You promoted this post"
    - else
      = link_to "Promote"
      this post.
