%li.post
  %p
    %strong= "#{post.user.username}"
    = post_body post

  - if post.scored?
    %p#score
      = "Score: #{post.score}"

  - if logged_in?
    - if current_user.promoted?(post)
      = "You promoted this post"
    - else
      = "#{link_to "Promote", promote_post_path(post), :method => :put} this case."
  - else
    = "#{link_to "Log in", login_path} to promote this case."
