- if logged_in?
  %h2 Post a feature or issue
  - remote_form_for @post, :id => "new_post" do |f|
    %fieldset
      %ol
        %li= f.text_area :body, :rows => 5
        %li= f.submit "Post Case"

- if params[:tags]
  %h2= "All cases matching #{params[:tags].join(", ")}"
  = link_to "Clear search filters", posts_path
- else
  %h2 Recent Posts

%ul#posts
  = render :partial => "post", :collection => @posts

= will_paginate @posts, :previous_label => "Previous Page", :next_label => "Next Page"
