- if logged_in?
  = form_for Post.new, :id => "new_post" do |f|
    = f.text_area :body
    = f.submit "Post Case"

%h2 Recent Posts

%ul#posts
  = render :partial => "post", :collection => @posts

= will_paginate @posts, :previous_label => "Previous Page", :next_label => "Next Page"
